<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/login" method="get">
      <p>Enter Name:</p>
      ID : <p><input type="text" name="user_name" /></p>
      PW : <p><input type="submit" value="submit" /></p>
    </form>
  </body>
</html>
<!-- 만약에 css와 javascrip로 꾸며주고 싶다면 static이라는 폴더를 templates 와 같은 위치에 생성 해준 뒤에 인용하는
주소문에다가 /static으로 경로를 바꿔준다 (하지 않을시 실행되지 않음 = 못찾아서) -->